.title {  
        background-size: 15px;
        text-align: center;
}








.bananaall{
          padding-top: -50px;
          
          
          
          padding-left: 500px;
        


}

.tb {
      padding-left: 220px;
      padding-top: 380px;
      padding-bottom: 380px;



}